body
{
    width: 960px;
    margin: auto;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}


 header  div{
 background-color: gray;
 height:90px ;
 width: 100%;
 border-bottom:30px solid white ;
}

 header nav img{
  float: left;
  padding:5px; 
  margin: 5px;
  margin-left:40px ;
}
 header nav ul li{
    display: inline;
    margin-top:30px ;
    border:10px ;
    text-align: center;
   padding:20px 20px ;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
}




 main img{
    height:430px ;
    width: 48%;
margin-top: 10px;} 


    
main article{
    text-align: right;
    background-color: lightblue;
    width:48%;
    height: 400px;
    overflow: scroll;
    float: right;
    margin-top: 10px;

}


main button{
    background-color: black;
    color:white;
    margin-left:490px;
    margin-bottom:2% ;
    border-radius: 5px;
    margin-top: -20px;
    
}




footer{
    background-color: gray;
   padding:30px ;


}


body header div img{
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}


body header div{
    padding-top: 10px;
    padding-bottom: 10px
}


body header div nav{
    margin-bottom: -100px;
    margin-left:250px;
    margin-top: 25px;
}


body main div{
    width: 100%;
}


main div img{
 width: 33%;
 margin-bottom: 15px;
}